@using DAL.DTOs.Admin;
@using DAL.DTOs.SecrEstrategiaAsuntosMilitares;
@using DAL.Mapper;
@{
    ViewData["Title"] = "Indicadores";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora&display=swap">
<style>
    .font-large{
        font-size: x-large;
    }

    .product-info {
        margin-left: 5px!important;
    }

    .zoomable {
        width: 200px;
        height: 200px;
        background-color: lightblue;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
    }

    .contenedor-flex {
        flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias líneas si es necesario */
    } 
    
    .ImagenTitulo {
        flex-wrap: wrap; /* Permitir que los elementos se ajusten en varias líneas si es necesario */
    }

    .info-box {
        flex-grow: 1; /* Permitir que todos los info-boxes crezcan para ajustarse al tamaño del más grande */
        margin: 10px; /* Margen entre los info-boxes */
   

    user-select: none;
    }

    .oscuro {
        filter: brightness(85%)
    }

    .marcado {
        /* height: 100vh;*/
    }

    .centrarDiv {
        display: flex;
        justify-content: center; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
        /* height: 100vh;*/
    }


</style>
<script src="~/js/jquery.knob.js"></script>
<div class="content">
    <div class="row">

        <div class="col-md-1 col-sm-6 col-xs-12"></div>     
        @foreach (var (item, index) in ((List<IndicadoresDTO>)ViewBag.listaIndicadoresDTO).Select((value, i) => (value, i+1)))
        {          
            <div class="contenedor-flex">
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="info-box miDiv" id="@index" data-title="@item.Titulo" style="text-align: center;">
                        <div class="imagen-titulo" style="margin-bottom: 3%;">
                            <div class="row" style="padding-top: 5%; height: 90px;">
                                <img src="~/images/icon/@item.Icono" alt="Descripción del icono" style="max-width: 100%; max-height: 100%;">
                            </div>
                            <div class="row row-titulo" style=" padding: 5%; padding-bottom: 0;display: flex;align-items: center;justify-content: center;">
                                <span class="font-large" >@item.Titulo</span>
                            </div>
                        </div>
                        <div class="row row-detalle " style="padding-top:2%;display: flex;align-items: center;justify-content: center; border-top-width: 12px; margin: 0px; background-color: @item.Color;">
                            @if (item.Discriminador == "IndicadorPorcentaje")
                            {
                                <div class="col-xs-12" style="color:white">
                                    <div class="col-xs-12" style="font-size: xx-large;">
                                        <label>@item.Porcentaje</label>
                                        @if (item.IndicarTendencia)
                                        {
                                            var valorTendencia = Convert.ToInt32(MapperManual.ObtenerDiferencia(item.Porcentaje, item.ValorAnteriorTendencia));
                                            if (valorTendencia>0)
                                            {
                                                <span class="fa fa-caret-up">
                                                    <label style="font-size: medium; vertical-align: text-top;"> @valorTendencia %</label>
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="fa fa-caret-down">
                                                    <label style="font-size: medium; vertical-align: text-top;"> @valorTendencia %</label>
                                                </span>
                                            }
                                        }
                                    </div>
                                    <div class="col-xs-12" style="font-size: large;">
                                        <label style="font-weight: normal;">@item.PrimerSubTitulo</label>
                                    </div>
                                </div>

                            }
                            else if (item.Discriminador == "IndicadorNumero")
                            {
                                <div class="col-xs-12" style="color:white">
                                    <div class="col-xs-12" style="font-size: xx-large;">
                                        <label>@item.Numero</label>
                                    </div>
                                    <div class="col-xs-12" style="font-size: large;">
                                        <label style="font-weight: normal;">@item.PrimerSubTitulo</label>
                                    </div>
                                </div>
                            }
                            else if (item.Discriminador == "IndicadorComunicacion")
                            {
                                <div class="DetalleIndicador" style="display: flex;justify-content: center;">
                                    <table style="width: 70%;">
                                        <tr style="text-align-last: center;">
                                            <th style="padding-right: 25px;"><span style="font-size:large">@item.PrimerSubTitulo</span></th>
                                            <th><span style="font-size:large">@item.SegundoSubTituto</span></th>
                                        </tr>
                                        <tr>
                                            <td style="padding-right: 25px;"><span style="font-size:xx-large">@item.PrimerValor</span></td>
                                            <td><span style="font-size:xx-large">@item.SegundoValor</span></td>
                                        </tr>
                                    </table>
                                </div>
                            }                           
                        </div>

                    </div>
                </div>
            </div>
        }



    </div>
    <br />
    <h3 style="text-align: center;margin-top: 0px;font-weight: bold;" id="titleContainer">Acciones</h3>
    <br />
    <div class="row" style="text-align-last: center;" id="ContainerDetails">
        <div class="col-md-4">
            <div class="box box-danger" style="border-top-width: 6px;" >
                <div class="box-header with-border">
                    <h3 class="box-title">Prioridad Alta</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12 col-sm-6 col-xs-12" style="text-align-last: left;">
                        <ul class="products-list product-list-in-box">
                            @foreach (AccionesDTO item in (List<AccionesDTO>)ViewBag.listAccionesAlta)
                            {
                            <li class="item">
                                <div class="product-info">
                                        <span class="product-description" style="font-weight: bold; color: black;">
                                        @item.OrganismoNombre
                                    </span>
                                    <span class="product-description" style="color: black;">
                                        <ul>
                                            <li>@item.Titulo</li>
                                        </ul>
                                    </span>
                                        <span class="product-description" style=" padding-left: 7%;font-weight: normal;">
                                        &nbsp; &nbsp; @item.Descripcion
                                    </span>
                                    <span class="product-description" style="text-align-last: center;">
                                        <a href="Home/DetalleAccion/@item.Id" class="product-title">
                                            Ver más Acciones
                                        </a>
                                    </span>
                                </div>
                            </li>
                            }                               
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="box box-warning" style="border-top-width: 6px;">
            <div class="box-header with-border">
                <h3 class="box-title">Prioridad Media</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body no-padding">
                <div class="col-md-12 col-sm-6 col-xs-12" style="text-align-last: left;">
                        <ul class="products-list product-list-in-box">
                            @foreach (AccionesDTO item in (List<AccionesDTO>)ViewBag.listAccionesMedia)
                            {
                                <li class="item">
                                    <div class="product-info" style="font-weight: bold; color: black;">
                                        <span href="Home/DetalleAccion/@item.Id" class="product-title">
                                            @item.OrganismoNombre
                                        </span>
                                        <span class="product-description" style="color: black;font-weight: normal;">
                                            <ul>
                                                <li>@item.Titulo</li>
                                            </ul>
                                        </span>
                                        <span class="product-description" style=" padding-left: 7%;font-weight: normal;">
                                            &nbsp; &nbsp; @item.Descripcion
                                        </span>
                                        <span class="product-description" style="text-align-last: center;">
                                            <a href="Home/DetalleAccion/@item.Id" class="product-title">
                                                Ver más Acciones
                                            </a>
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
            </div>
        </div>
        </div>

        <div class="col-md-4">
                <div class="box box-success" style="border-top-width: 6px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Prioridad Baja</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <div class="col-md-12 col-sm-6 col-xs-12" style="text-align-last: left;">
                        <ul class="products-list product-list-in-box">
                            @foreach (AccionesDTO item in (List<AccionesDTO>)ViewBag.listAccionesBaja)
                            {
                                <li class="item">
                                    <div class="product-info" style="font-weight: bold; color: black;">
                                        <span href="Home/DetalleAccion/@item.Id" class="product-title">
                                            @item.OrganismoNombre
                                        </span>
                                        <span class="product-description" style="color: black;font-weight: normal;">
                                            <ul>
                                                <li>@item.Titulo</li>
                                            </ul>
                                        </span>
                                        <span class="product-description" style=" padding-left: 7%;font-weight: normal;">
                                            &nbsp; &nbsp; @item.Descripcion
                                        </span>
                                        <span class="product-description" style="text-align-last: center;">
                                            <a href="Home/DetalleAccion/@item.Id" class="product-title">
                                                Ver más Acciones
                                            </a>
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>
                     </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
    <br />

    <div class="centrarDiv" id="ContainerGrafico1"></div>
    @*<div class="" id="ContainerGrafico2"></div> *@

    <script>


    $(document).ready(function () {
        $(".info-box").mouseenter(function () {
            $(this).css("cursor", "pointer");
            });

        $(".info-box").click(function () {
                //Oscurece todos los indicadores menos el seleccionado
                if (!$(this).hasClass('oscuro') && $(".info-box").not('.oscuro').length === 1) {
                    $(".info-box").removeClass('oscuro');
                } else {
                    $(".info-box").addClass('oscuro');
                    $(this).removeClass('oscuro');
                }
            //
                let id = this.id;
                let title = $(this).data("title");
                $("#ContainerDetails").empty();
                changeTitle(title);
                if (id==="1"){
                    $.get("/Indicadores/Home/GraficoTorta/" + id, function (data) {
                        $("#ContainerGrafico1").html(data);
                    });

                    //$.get("/Indicadores/Home/GraficoBarra/" + id, function (data) {
                    //    $("#ContainerGrafico2").html(data);
                    //});
                    var div2Height = $('#div1').height();
                    $('#div2').css('height', div2Height + 'px');
                }
                else if (id==="2") {
                    $.get("/Indicadores/Home/GraficoBarra/2", function (data) {
                        $("#ContainerGrafico1").html(data);
                    });
                }
                else if (id==="3") {
                    $.get("/Indicadores/Home/_GraficoSecrEstrategiaAsuntosMilitares/3", function (data) {
                        $("#ContainerGrafico1").html(data);
                    });
                }
                else if (id === "4") {                
                    $.get("/Indicadores/Home/_GraficoSecrEstrategiaAsuntosMilitares_ProyecPrioritarios/4", function (data) {
                        $("#ContainerGrafico1").html(data);
                    });
                }
                else if (id === "5") {
                $.get("/Indicadores/Home/_GraficoSecrEstrategiaAsuntosMilitares_Comunicacion/5", function (data) {
                        $("#ContainerGrafico1").html(data);
                    });
                }
                else{
                    //$("#ContainerGrafico2").empty();
                    $("#ContainerGrafico1").empty();
                }              

            });



            setMaxHeight('row-titulo');
            setMaxHeight('row-detalle');
            setMaxHeight('imagen-titulo');
            setMaxHeight('info-box');

            $('.miDiv').click(function () {
                if ($(this).hasClass('marcado')) {
                $('.miDiv').removeClass('marcado');
                } else {
                $('.miDiv').removeClass('marcado');
                $(this).addClass('marcado');

                }
            });

        });

        const setMaxHeight = (className) => {
        let maxHeight = 0;
        $('.' + className).each(function () {
            const height = $(this).outerHeight();
            if (height > maxHeight) {
                maxHeight = height;
            }
        });
        $('.' + className).css('height', maxHeight + 'px');
    };


        const changeTitle = (title) => {
        $("#titleContainer").empty();
        $("#titleContainer").append(title);
        }

        </script>
    