@using Commons.Models
@model IEnumerable<SidebarMenu>

<style>
    .siderbar_class_img {
        background: #071217;
        /* background-image: url(/images/tacoin.png); */
        background-image: url(/images/ministerio_defensa_04_logo_celeste_sin_fondo.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        border-bottom: inset 40px transparent;
    }

    .treeview-menu li a {
        white-space: normal; /* Permitir que el texto se divida en varias líneas */
        word-wrap: break-word; /* Permitir que el texto se rompa entre palabras largas si es necesario */
    }

</style>


<aside class="main-sidebar siderbar_class_img ">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        @*<div class="user-panel">
        <div class="pull-left image">
        <img src="https://ya-webdesign.com/images/vector-market-animated-2.gif" class="img-circle" alt="Institute Image">
        </div>
        <div class="pull-left info">
        <p>Selected Workspace</p>
        <a href="#" onclick="ChangeWorkSpace()"><i class="fa fa-refresh text-muted"></i> Cambiar</a>
        </div>
        </div>*@
        <!-- search form (Optional) -->
        @*<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
        <button type="submit" name="search" id="search-btn" class="btn btn-flat">
        <i class="fa fa-search"></i>
        </button>
        </span>
        </div>
        </form>*@
        <!-- /.search form -->
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            @foreach (var menu in Model as IEnumerable<SidebarMenu>)
            {
                if (menu.Type == SidebarMenuType.Header)
                {
                    <li class="header">@menu.Name</li>
                }
                else if (menu.Type == SidebarMenuType.Link)
                {
                    var active = string.Empty;
                    if (menu.URLPath != "/" && @Context.Request.Path.Value.Contains(menu.URLPath))
                    {
                        active = "active";
                    }
                    <li class="@active">
                        <a href="@menu.URLPath">
                            <i class="@menu.IconClassName"></i>
                            <span>@menu.Name</span>
                            <span class="pull-right-container">
                                @{
                                    if (menu.LinkCounter.Item1 > 0)
                                    {
                                        <small class="label pull-right bg-red">@menu.LinkCounter.Item1</small>
                                    }
                                    if (menu.LinkCounter.Item2 > 0)
                                    {
                                        <small class="label pull-right bg-green">@menu.LinkCounter.Item2</small>
                                    }
                                    if (menu.LinkCounter.Item3 > 0)
                                    {
                                        <small class="label pull-right bg-blue">@menu.LinkCounter.Item3</small>
                                    }
                                }
                            </span>
                        </a>
                    </li>
                }
                else if (menu.Type == SidebarMenuType.Tree)
                {
                    var active = string.Empty;
                    if (menu.TreeChild.Any(x => @Context.Request.Path.Value.Contains(x.URLPath)) || menu.TreeChild.Where(x => x.Type == SidebarMenuType.Tree).SelectMany(x => x.TreeChild).Any(x => @Context.Request.Path.Value.Contains(x.URLPath)))
                    {
                        active = "active";
                    }

                    <li class="treeview @active">
                        <a href="#">
                            <i class="@menu.IconClassName"></i> <span>@menu.Name</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            @foreach (SidebarMenu subMenu in menu.TreeChild)
                            {
                                if (subMenu.Type == SidebarMenuType.Link)
                                {
                                    active = string.Empty;
                                    if (Context.Request.Path.Value.Contains(subMenu.URLPath))
                                    {
                                        active = "active";
                                    }
                                    <li class="@active">
                                        <a href="@subMenu.URLPath">
                                            <i class="@subMenu.IconClassName"></i> @subMenu.Name
                                        </a>
                                    </li>
                                }
                                else if (subMenu.Type == SidebarMenuType.Tree)
                                {
                                    active = string.Empty;
                                    if (subMenu.TreeChild.Any(x => @Context.Request.Path.Value.Contains(x.URLPath)))
                                    {
                                        active = "active";
                                    }

                                    <li class="treeview @active">
                                        <a href="#">
                                            <i class="@subMenu.IconClassName"></i> <span>@subMenu.Name</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            @foreach (SidebarMenu subSubMenu in subMenu.TreeChild)
                                            {
                                                if (subSubMenu.Type == SidebarMenuType.Link)
                                                {
                                                    active = string.Empty;
                                                    if (Context.Request.Path.Value.Contains(subSubMenu.URLPath))
                                                    {
                                                        active = "active";
                                                    }
                                                    <li class="@active">
                                                        <a href="@subSubMenu.URLPath">
                                                            <i class="@subSubMenu.IconClassName"></i> @subSubMenu.Name
                                                        </a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            }
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>
